<!DOCTYPE html>
<html>
    <head>
        <title>Attrazioni</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"><link rel="stylesheet" href="foglistile/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                background-image: url('img/sfondo.gif');
                background-position: center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                margin-top:2%;
                overflow: scroll;
            }
            h2{
                color: rgb(109, 155, 140);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            i{
                color:gray;
            }
            i:hover{
                color:rgb(125, 197, 173);
            }
            button{
                outline: none;
            }
            button:hover{
                color:gray;
            }
        </style>
    </head>
    <body>
        <div class="w3-center" style="width: 100%;">
            <i class="fa fa-home fa-3x" onclick="window.history.go(-1);"></i>
            <div style="width: 60%; margin-left: 20%;"> 
                <h2> Attrazioni suggerite: </h2>
                <%- attrazioni %>
            </div>
        </div>
    </body>
</html>