<!DOCTYPE html>
<html>
    <head>
        <title>Diario</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background-image: url('img/sfondo.gif');
                background-position: center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            i{
                color:gray;
            }
            i:hover{
                color:rgb(125, 197, 173);
            }
            button {
                outline: none;
            }
        </style>
    </head>
    <body>
        <div class="w3-display-middle w3-center" style="top: 20cm;">
            <i class="fa fa-home fa-3x" onclick="window.history.go(-1);"></i>
            <h2 class="w3-text-teal" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> My Travel Diary</h2>
            <br>
            <iframe src="https://calendar.google.com/calendar/embed?src=<%=idCal%>&showTitle=0&showTz=0" style="border: 0" width="700" height="500" frameborder="0" scrolling="no"></iframe>
            <br>
            <br>
            <br>
            <br>
            <h3 class="w3-text-teal" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Memories </h3>
            <div class="w3-content w3-display-container">
                    <% for (var i = 0; i < num_photo_totali; i++){ %>
                        <div class="w3-display-container mySlides">
                            <img src="<%=array_photo[i];%>" style="width: 700px; height: 500px;">
                            <div class="w3-display-bottomcenter w3-large w3-container w3-padding-16 w3-teal">
                                  <%=loc[i];%>  
                            </div>
                        </div>
                    <% } %>   
                  
                <button class="w3-button w3-display-left w3-teal" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right w3-teal" onclick="plusDivs(1)">&#10095;</button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <button id="viaggi" class="w3-btn w3-teal w3-round-xlarge w3-padding-large">I miei viaggi</button>
        </div>
        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
            showDivs(slideIndex += n);
            }

            function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
            }
        </script>
    </body>
    <script>
        (function() {
        document.getElementById('viaggi').addEventListener('click', function() {
            window.location = 'http://localhost:8888/listaViaggi';
        }, false)})();
    </script>
</html>