<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"><link rel="stylesheet" href="foglistile/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <style>
            body {
                background-image: url('img/sfondo.gif');
                background-position: center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                margin-top:2%;
                overflow: scroll;
            }
            hr{
                border-color:rgb(125, 197, 173);
                border-width: 2px;
            }
            h1{
                color: rgb(109, 155, 140);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            i{
                color:gray;
            }
            i:hover{
                color:rgb(125, 197, 173);
            }
            button{
                outline: none;
            }
            #mapid { height: 380px;
            position: relative;
            left: 30%;
            width: 600px;}
        </style>
    </head>
    <body>
        <div class="w3-center" style="width: 100%;">
            <i class="fa fa-home fa-3x" onclick="window.history.go(-1);"></i>
            <div style="width: 60%; margin-left: 20%;"> 
                <h1> I miei viaggi: </h1>
                <% for(var i=0; i < count; i++){
                    if(viaggi[i]!='') %>
                        <%= viaggi[i]; %> <br>
                <% } viaggi %> 
            </div>
        </div>
        <div id="mapid"></div>
       <script>
        var mappa = L.map('mapid').setView([41.8919300, 12.5113300], 1);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiMTc1NjgxOSIsImEiOiJja2F4dGY2YjIwOW1tMnNvNWt4Ynl0dDE0In0.fv2M3WDZhGr95kAcLHuO7g', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiMTc1NjgxOSIsImEiOiJja2F4dGY2YjIwOW1tMnNvNWt4Ynl0dDE0In0.fv2M3WDZhGr95kAcLHuO7g'
        }).addTo(mappa);
        var n = <%=count%>;
        for (var j = 0; j < n; j++){ 
            var marker = L.marker([40.5+3*j, -0.09]).addTo(mappa);
            marker.bindPopup("<b><%=viaggi[j]%></b>").openPopup();   
            console.log('marker'+<%=viaggi[j]%>);
        };
        </script>
    </body>
</html>